{%extends 'base.html.twig'%}
{% block body %}

<div class= "jumbotron text-center mt-4">
<h1> Bienvenue sur la Homepage </h1>
</div>
<h2 style="text-align: center;">Les derniers biens</h2>
<div class= "container" style="display: inline-flex;">



{% for property in properties %}

 <div class="col-4"> 


<div class="card mt-4"style="margin: auto;"> 




 <div class="card-body" style="border: 1px solid black">
 <h5 class="card-title">
 <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.getTitle() }}</a>
  </h5>
<p class="card-text">{{ property.city}} {{ property.postalCode }} </p>
<div class="text-primary" style="font-weight: bold; font-size: 2em">{{ property.formattedPrince }} $</div>
</div>

</div>
</div>
{% endfor %}



</div>






{% endblock %}


