{%extends 'base.html.twig'%}
{% block body %}

<div class= "jumbotron text-center mt-4">
<h1> bienvenue sur la homepage </h1>
</div>
<div class= "container">
<h2>les derniers biens</h2>
<div class="col-3"> 
{% for property in properties %}

 


<div class="card mt-4"> 




 <div class="card-body" style="border: 1px solid black">
 <h5 class="card-title">
 <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.getTitle() }}</a>
  </h5>
<p class="card-text">{{ property.city}} {{ property.postalCode }} </p>
<div class="text-primary" style="font-weight: bold; font-size: 2em">{{ property.formattedPrince }} $
</div>
</div>


{% endfor %}

</div>
</div>
</div>




{% endblock %}


