{%extends 'base.html.twig'%}
{% block body %}

<div class= "jumbotron text-center mt-2"style="">
<h1 class=""> Gestion de l'édition </h1>
</div>



<div class= "container mt-2">
<h2 class="text-center">Editer le bien {{ property.title }}</h2>
 <div class="row">
 
 
 
  <div class="col-md-4">  {{ form_row(form.title) }} </div>
  <div class="col-md-4">  {{ form_row(form.surface) }} </div>
  <div class="col-md-4">  {{ form_row(form.prince) }} </div>
   
   </div>
  <div class="row">

 <div class="col-md-4">  {{ form_row(form.rooms) }} </div>
 <div class="col-md-5">  {{ form_row(form.bedrooms) }} </div>
 <div class="col-md-3">  {{ form_row(form.heat) }} </div>
 {# <div class="col-md-2">  {{ form_row(form.floor) }} </div> #}
 
   </div>

<div class="row">
<div class="col-md-4">  {{ form_row(form.adress) }} </div>
<div class="col-md-4">  {{ form_row(form.city) }} </div>
<div class="col-md-4">  {{ form_row(form.postal_code) }} </div>
<div class="col-md-1">  {{ form_row(form.sold) }} </div>
 
  </div>





  </div>
  
<button class="btn btn-primary mt-2" style="margin-left: 30%;">Editer</button>




{% endblock %}